.md-card.md-block-centered {
    width: 95vw;
    height: 95vh;
    min-height: 422px;
}

section.md-card-text {
    height: 75vh;
    overflow-y: scroll;
    min-height: 300px;
}

.md-icon-separator span.md-icon-text {
    width: 80%;
    white-space: pre-line;
    word-break: break-all;
}
