<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="description" content="Experimental Layout Web App">

        <title>Cool Boxes</title>

        <link rel="stylesheet" href="css/all.css" type="text/css">
    </head>
    <body>
        <div class="container-one container">

            <div class="container-two container">levent</div>

        </div>

        <script type="text/javascript" src="/js/all.js"></script>
    </body>
</html>
