<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="description" content="Experimental Layout Web App">

        <title>Cool Boxes</title>

        <link rel="stylesheet" href="css/all.css" type="text/css">
    </head>
    <body>
        <div class="container max-w960">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-8">
                        <h2>Cool Boxes
                            <blockquote class="small">HTML Layout Experiment</blockquote></h2>
                    </div>
                    <div class="message panel panel-default">
                        <div class="panel-body"> Some message here! </div>
                    </div>
                </div>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-success progress-bar-striped box-count-existing">
                    Existing : <span>0</span>
                </div>
                <div class="progress-bar progress-bar-warning progress-bar-striped box-count-removed">
                    Deleted : <span>0</span>
                </div>
            </div>
            <div class="container-one row">
                <div class="container-two row">
                    <div class="cool-box" unselectable="on">
                        <div class="box-heading">
                            <span></span>
                            <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="box-body">
                            <span class="prev"></span>
                            <span class="next pull-right"></span>
                        </div>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="footer row"><a href="https://github.com/leventgunay/experimental">github.com/leventgunay/experimental</a></div>
        </div>
        <script type="text/javascript" src="/js/all.js"></script>
    </body>
</html>
