<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="description" content="Experimental Layout Web App">

        <title>Cool Boxes</title>

        <link rel="stylesheet" href="css/all.css" type="text/css">
    </head>
    <body>
        <div class="container">
            <div class="page-header">
                    <h2>Cool Boxes
                        <blockquote class="small">HTML Layout Experiment</blockquote></h2>
            </div>
            <div class="container-one row">
                <div class="container-two row">
                    <div class="cool-box">

                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="/js/all.js"></script>
    </body>
</html>
