.row {
    margin: 0;
}

.max-w960 {
    max-width: 960px;
}

.page-header blockquote {
    display: inline;
    margin-left: 20px;
    padding-bottom: 5px;
}

.container-one {
    background: #b3e5fc;
    padding: 35px;
    border-radius: 4px;
}

.container-one:hover {
    border: 10px solid black;
    padding: 25px;
}

.container-two {
    background: #90a4ae;
    padding: 20px;
    max-width: 860px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
}

.container-two:hover {
    border: 15px solid black;
    padding: 5px;
}

.cool-box:hover {
    border: 5px solid black;
    padding: 10px;
}

.cool-box {
    height: 100px;
    position:relative;
    min-height:1px;
    padding:15px;
    float:left;
    cursor: pointer;
    margin: 0.33333333%;
    border-radius: 4px;
}

.cool-box .box-heading .close {
    display: none;
}

.cool-box:hover .box-heading .close {
    display: block;
}

.container-one .container-two .cool-box:nth-child(6n+1),
.container-one .container-two .cool-box:nth-child(6n+2),
.container-one .container-two .cool-box:nth-child(6n+3) {
    width: 32.66666666%;
}

.container-one .container-two .cool-box:nth-child(6n+4),
.container-one .container-two .cool-box:nth-child(6n+5) {
    width: 49.33333333%
}

.container-one .container-two .cool-box:nth-child(6n+6) {
    width: 99.33333333%;
}

.container-one .container-two .cool-box:nth-child(4n+4) {
    background: #3d5afe; /* 304ffe*/
}

.container-one .container-two .cool-box:nth-child(4n+3) {
    background: #558b2f;
}

.container-one .container-two .cool-box:nth-child(4n+2) {
    background: #ff1744;
}

.container-one .container-two .cool-box:nth-child(4n+1) {
    background: #ffeb3b;
}

.container-one .container-two .cool-box:last-child {
    box-shadow: 0 0 10px black;
}